In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\godly\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\godly\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\godly\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\godly\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\godly\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\godly\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\godly\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\godly\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\godly\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\godly\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\godly\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\godly\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
a=[1,2,3]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

In [7]:
import pandas as pd
a=['apple','orange','banana']
x=pd.Series(a)
x

0     apple
1    orange
2    banana
dtype: object

In [8]:
a=[1.2,3.4,4.5]
x=pd.Series(a)
x

0    1.2
1    3.4
2    4.5
dtype: float64

In [10]:
a=[1,2,3]
x=pd.Series(a)
x

0    1
1    2
2    3
dtype: int64

In [14]:
a=[1,2,3,4,5]
x=pd.Series(a,index=['x','y','z','s','e'])
x

x    1
y    2
z    3
s    4
e    5
dtype: int64

In [16]:
a=['apple','orange','kiwi','banana']
x=pd.Series(a,index=['a','b','c','d'])
x

a     apple
b    orange
c      kiwi
d    banana
dtype: object

In [17]:
import pandas as pd
a=[1,2,3,4]
x=pd.Series(a)
x

0    1
1    2
2    3
3    4
dtype: int64

In [20]:
calories={'day1':123,'day2':234,'day3':345}
x=pd.Series(calories)
x

day1    123
day2    234
day3    345
dtype: int64

In [26]:
vehicle={'car':234,'bike':345,'van':34}
x=pd.Series(vehicle)
x

car     234
bike    345
van      34
dtype: int64

In [28]:
data={'calories':[11,23,445],
      'duiration':[4,5,6]}
df=pd.DataFrame(data)
df

   calories  duiration
0        11          4
1        23          5
2       445          6

In [29]:
data={'car':['ford','verna'],
      'bike':['fc','pulsor']}
df=pd.DataFrame(data)
df

     car    bike
0   ford      fc
1  verna  pulsor

In [30]:
data={'car':['ford','verna'],
      'bike':['fc','pulsor']}
df=pd.DataFrame(data)
df
print(df.loc[0])

car     ford
bike      fc
Name: 0, dtype: object

In [33]:
data={'car':['ford','verna'],
      'bike':['fc','pulsor']}
df=pd.DataFrame(data)
df
print(df.loc[[0,1]])

     car    bike
0   ford      fc
1  verna  pulsor

In [37]:
data={'car':['ford','verna','honda'],
      'bike':['fc','pulsor','shine']}
df=pd.DataFrame(data,index=['day','day2','day3'])
df

        car    bike
day    ford      fc
day2  verna  pulsor
day3  honda   shine

In [39]:
df=pd.read_csv('states.csv')